:root{
    --oscuro: #000000;
    --azulOscuro: #1900ff;
    --azulClaro: #00d4ff;
    --blanco: #ffffff;
    --tiuulos: "baloo 2", cursive;
    --parrafos: "monserrat", sans-serif;
}
html {
    box-sizing: border-box;
    font: 62.5% ;
}
body {
    font-size: 1.6rem;
}
*,*::before,*::after{
    box-sizing: inherit;
}
P{font-size: 1em;}
/*estilos globales*/
h1,h2,h3{
    font-family: var(--tiuulos);
}
p,a{
    font-family: var(--parrafos);
}

.ocultar{
    display: none;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.btn{
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: var(--parrafos);
    font-size: 2rem; 
    border-radius:0.5rem;
    border: 0.5rem;
    color: var(--blanco);
}
.azul{
    background-color: var(--azulClaro);
    border-color: var(--azulClaro);
}

@keyframes desplazamiento {
    /*desplazamiento inicial*/
    0%{
        transform: translateX(-100%) ;
    }
    100%{
        transform: translateX(0);
    }
}

/*encabezado*/
.encabezado{
    background-image:url("../img/pexels-divinetechygirl-1181396.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.encabezado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.Contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blanco);
    box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.45);
}
.navegacion{
    background-color: var(--blanco);
    width: 100%;
    position:absolute;
    left: 0;
    top: 106px;
    animation: desplazamiento 0.5s ease-in-out;
}
@media (min-width:768px){
    .ocultar{
        display: inline;
    }
    }

.navegacion a{
    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: var(--oscuro);
    text-decoration: none;
} 
.navegacion a:hover{
    background-color: var(--azulClaro);
    color: var(--blanco);
    transition: background-color 0.3s ease-in-out  ;
}
@media (min-width:768px){
    .navegacion a{
        display: inline;
    }
    .navegacion a{
        padding: 2rem;
    }
    }
@media (min-width:768px){
    .navegacion{
        position: relative;
        top: unset;
        width: auto;
        background-color: unset;
        animation: unset;
    }
    }


.logo h2{
    font-size: 3rem;
}
.logo h2 span{
    color: var(--azulClaro);
}
.hamburguesa span{
    width: 5rem;
    height: 1rem;
    border: 3px solid white;
    background-color:  var(--oscuro);
    display: block;
}
@media (min-width:768px){
    .hamburguesa{
        display: none;
    }
    }

    /*contenido encabezado*/

@media (min-width:768px){
    .contenido-encabezado{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80%;
    }
    .contenido-encabezado, .formulario-encabezado{
        flex: 0 0 calc(50% - 1rem);
    }
}
.texto-encabezado h1{
    font-size: 3rem;
    color: var(--blanco);
    text-align: center;
    padding-top: 8rem;
}
@media (min-width:768px){
    .texto-encabezado h1{
        font-size: 7rem;
        text-align: left;
        padding-top: 0;
    }
    }


.formulario-encabezado{
    background-color: #ffffffe1;
    display :flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    border-radius: 0.5rem;
}
@media (min-width:768px){
    .formulario-encabezado{
        width: 200%;
        padding: 3rem;
    }
    }

.formulario-encabezado h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}
@media (min-width:768px){
    .formulario-encabezado h2{
        font-size: 3rem;
        padding: 1rem;
        text-align: center;
    }
    }
.input-encabezado{
   margin-bottom: 1rem;
   width: 100%;
   background-color: #ffffffd2;
   color: #ffffffd2;

}

.input-encabezado input{
    width: 100%;
    padding: 0 1.6rem;
    height: 4.5rem;
    border: 1px solid #ffffffd2;
    border-radius: 0.5rem;
    font-family: var(--parrafos);
    outline: none;
    background-color: #ffffffd2;
}

/*ventajas*/
.ventajas{
    padding-top: 3rem;
    background-color: #38aa51d7;
}
.ventaja{
    color:var(--blanco);
    text-align: center;
}
.ventaja h3{
    font-size: 2rem;
}

.ventaja p{
    font-size: 1.5rem;
}

@media (min-width:768px){
    .contenido-ventaja{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }
    .ventaja{
        flex: 0 0 calc(33.33% - 1rem);
    }
    }

    /*texto-nosotros*/
.nosotros h2{
    text-align: center;
    font-size: 4rem;
    color: #000000;
}
@media (min-width:768px){
    .nosotros h2{
        font-size: 5rem;
    }
    }
.contenido-nosotros{
    background-image: url(../img/pexels-divinetechygirl-1181676.jpg) ;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-size: cover;
    background-position: center center;
}
.texto-nosotros{
    padding: 2rem;
    grid-row: 2/3 ;
    background-color: #ffffffe1;
}
.texto-nosotros h3{
    font-size: 3rem;
    text-align: center;
    color: #000000de;
}

.texto-nosotros p{
    font-size: 1.5rem;
    color: #000000de;
    text-align: center;
}